.checkstyle
.classpath
.project
.settings
benchmark.html
bin
!src/longrun/dist/bin/
!src/longrun/dist/bin/h2-longrun-completion.bash
coverage
data
docs
ext
error.*
temp
test.out.txt
.idea/
*.log
target/
_tmp*
signing.properties
.gradle
build
